.competitions__photo {
  width: 100%;
  border-radius: $border-radius-l;
  flex-shrink: 0;

  @include tablet {
    margin-right: 28px;
    width: 320px;
  }

  &:last-child {
    @include tablet {
      margin-right: 50px;
    }
  }
}
