.competitions__title {
  font-size: 40px;
  line-height: 0.9;
  font-weight: weight(bold);
  margin: 0;
  padding: 0 0 20px 0;

  @include tablet {
    font-size: 70px;
    margin-bottom: 40px;
  }
}
