.header__lead {
  display: none;
  position: relative;

  @include tablet {
    padding: 0 25px 0 0;
    margin: 0;
    font-size: 13px;
    line-height: 1.25;
    display: block;
    margin-right: 42px;

    &::after {
      content: "";
      width: 17px;
      height: 17px;
      display: block;
      background-image: url("../../assets/images/arrow.svg");
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @include desktop {
    margin-right: 52px;
    font-size: 15px;
    line-height: 1.1;
  }
}
