.member__name {
  padding: 0;
  margin: 20px 0 5px 0;
  font-size: 18px;
  line-height: 1.3;
  font-weight: weight(regular);
  letter-spacing: 2px;
  text-transform: uppercase;

  @include tablet {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
