.popup__logo {
  background-image: url("../../assets/images/logo-mobile.svg");
  width: 26px;
  height: 36px;
  margin-bottom: 40px;

  @include tablet {
    background-image: url("../../assets/images/logo.svg");
    width: 38px;
    height: 54px;
    margin-bottom: 50px;
  }
}
