.deco-board {
  max-width: 280px;
  height: 70px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;

  &_type_primary {
    background-image: url("../../assets/images/hero-board-violet--mobile.svg");

    @include tablet {
      background-image: url("../../assets/images/hero-board-violet.svg");
    }
  }

  &_type_secondary {
    background-image: url("../../assets/images/hero-board-green--mobile.svg");

    @include tablet {
      background-image: url("../../assets/images/hero-board-green.svg");
    }
  }
}
