.header {
  @include padding;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 16px;

  @include tablet {
    padding-top: 26px;
    margin-bottom: 60px;
  }

  &__signup-wrap {
    display: flex;
    align-items: center;
  }

  &__logo {
    background-image: url("../../assets/images/logo-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 36px;

    @include tablet {
      background-image: url("../../assets/images/logo.svg");
      width: 38px;
      height: 54px;
    }
  }

  &__lead {
    padding: 0;
    margin: 0;
    display: none;
    font-size: 13px;
    line-height: 1.25;

    @include tablet {
      display: block;
      margin-right: 42px;
    }

    @include desktop {
      margin-right: 52px;
      font-size: 15px;
      line-height: 1.1;
    }
  }
}
