.competitions__gallery {
  margin-bottom: 60px;

  @include tablet {
    display: flex;
    overflow-x: auto;
  }

  @include desktop {
    justify-content: space-between;
  }

  @include no-scrollbar;
}
