.team {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-bg-secondary;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include desktop {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
